body {
    font-family: Arial, sans-serif;
    padding: 10px;
    text-align: center;
}
h1, h2 {
    color: #007bff;
}
button {
    margin-top: 10px;
    padding: 5px 10px;
}
ul {
    list-style-type: none;
    padding: 0;
}
